@charset "UTF-8";


@media screen and (min-width: 768px) {

  header > p, h1 {
    text-align: center;
  }
  .sobre-mim {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .sobre-mim div {
    max-width: 600px;
  }

  .cards-certificados,
  .cards-projetos {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 15px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center
  }

  main h2 {
 
  text-align: center;

}


#sobre-mim-inicial > h2, p {
  text-align: left;
  margin-left: 8px;
}

  .cert-card,
  .projeto-card {
    width: 250px;
    margin: 10px;
  }

  header h1 {
    font-size: 3em;
  }

  header p {
    font-size: 1.3em;
  }

  section h2 {
    font-size: 2em;
  }
  picture, img {
    display: flex;
    width: 100px;
    height: 100px;
    top: 70%;
    left: 70%;
    transform: translate(-45%, -48%);
    border-bottom: 20px;
  }

  a {
    display: block;
    text-align: center;
    border: 20px;
    padding: 10px;
  }

  footer  p {
    display: block;
    text-align: center;
  }
 
}
